Django (1.9.4)
django-extensions (1.6.1)
djangorestframework (3.3.3)
Markdown (2.6.6)
Pillow (3.3.1)
pip (8.1.2)
setuptools (27.2.0)
six (1.10.0)
wheel (0.30.0a0)
dj-database-url==0.4.0
gunicorn==19.4.5
psycopg2==2.6.1
whitenoise==2.0.6
