<form ng-submit="vm.register(vm.user)" class="form-signin">
	<div class="registration_form">
	    <h2 class="form-signin-heading">Create Your Account</h2>
	    <input ng-model="vm.user.email" type="email" class="form-control" placeholder="Enter Email" required autofocus>
	    <input ng-model="vm.user.username" type="text" class="form-control" placeholder="Username" required autofocus>
	    <input ng-model="vm.user.password" type="password" class="form-control" placeholder="Password" required>
	    <button class="btn btn-lg btn-success btn-block btn-register" type="submit">Sign Up</button>
	</div>
</form>
