
<div class="jumbotron">
    <form class="form-inline" role="form">
        <div class="input-group" style="width:400px">
            <input type="text" ng-model="query" class="form-control" name="q" placeholder="Search Book(via Book Name or Author Name)">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </form>
    <br/>
    <button type="button" class="btn btn-success " style="float:right;" data-toggle="modal" data-target="#newbookModal"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add New Book</button>
</div>

<!-- Modal -->
<div id="newbookModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Enter New Book</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group" >
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Book Name" id="newbook" ng-model="vm.new.book">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Author Name" id="author_name" ng-model="vm.new.author_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="ISBN Code" id="isbn_code" ng-model="vm.new.isbn_code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="note" class="col-sm-1 control-label">Cover Image:</label>

                        <input type="file" eg-files="photos" has-files="hasFiles" multiple style="margin-left:100px;line-height:40px;" placeholder="Cover Photo" id="cover_image" ng-model="vm.new.cover_image">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="vm.newbook()">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name of the Book</th>
                    <th>Author Name</th>
                    <th>ISBN Code</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tr ng-repeat="book in vm.books | orderBy:'-id' | filter:query ">
                <td>
                    <img style="margin-left:10px;width:80px;height:120px;border-radius:4px;" ng-src="{{ book.cover_image}}"/>

                    
                </td>
                <td>
                    {{ book.book_name }}</td>
                <td>
                    <strong>{{book.author_name}}</strong></td>
                <td>
                    {{ book.isbn_code }}
                </td>
                <td>
                    <center>
                        <button class="btn btn-default" title="Delete">
                            <a href="" ng-click="vm.deletebook(book)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </button>
                        &nbsp;&nbsp;
                         </button>
                        
                            <a href="" ng-click="vm.copybook(book)"  data-toggle="modal"
                            data-target="#updatebookModal"><i class="fa fa-pencil" aria-hidden="true"></i><div ng-bind="book.book"></div></a>
                                
        
                       
                    </center>
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- Modal -->
<div id="updatebookModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Update</b> book</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group" >
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Book Name" id="newbook" ng-model="vm.new.book">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Author Name" id="author_name" ng-model="vm.new.author_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="ISBN Code" id="isbn_code" ng-model="vm.new.isbn_code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="note" class="col-sm-1 control-label">Cover Image:</label>
                        <input type="file" style="margin-left:100px;line-height:40px;" placeholder="Cover Photo" id="cover_image" ng-model="vm.new.cover_image">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="vm.updatebook()">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
